@import "styles/glass"
*
  font-family: Avenir, Helvetica, Arial, sans-serif
  margin: 0 
  padding: 0 

main
  height: 100vh !important
  width: 100vw !important
  background-size: 100% !important
  display: flex !important
  flex-direction: column !important
  align-items: center !important
  background-repeat: no-repeat !important

#time
  height: 50vh
  font-size: 10em
  font-weight: bold
  position: absolute
  text-align: center

.sizedbox 
  height: 20vh  