<div style="display: none" id="set" class="search-list">
  <h3>Add engines using search add</h3>
  <div class="spacer"></div>
  <span>Search engines:</span>
  <div class="engine-grid"></div>
</div>
<div style="display: none" id="add" class="search-list">
  <input placeholder="name" id="search-name" class="spaced input">
  <h3>Replace query with $ENGINE</h3>
  <input placeholder="search url" id="search-url" class="spaced input">
  <br>
  <span>for example: https://google.com/search?q=$ENGINE</span>
  <br>
  <button id="search-add" class="button small">Add engine</button>
</div>
